<%- include partials/header.ejs %>

<%- include partials/main-nav.ejs %>

<div class="container w-75 p-3 container-fluid py-5 border">
    <%- include partials/contacts.ejs %>
</div>


<%- include partials/bottom-nav.ejs %>

<%- include partials/footer.ejs %>